:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --bg-color: #5f0451;
  --second-bg-color: #220430;
  --text-color: #0098db;
  --text-highlight: #2acaf1;
  --box-shadow-color: 0 8px 65px #2acaf1;
  --border-color: 1.5px solid black;
  --button-color: #9b2154;

  --box-shadow-blue: 0 10px 90px #2acaf1;
  --box-shadow-red: 0 10px 90px #fe3538;
  --box-shadow-green : 0 10px 90px #00e244;
  
  --button-text-highlight:  
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 120px #fff;

  --background-gradient: linear-gradient(to left, #220430, #230224, #21001b, #1d0012, #000000, #000000, #000000, #000000, #1d0012, #21001b, #230224, #220430);
}
a {
  text-decoration: inherit;
}
body {
  background-image: var(--background-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h3 {
  color: var(--text-highlight);
  font-weight: 700;
}
/* Button; */
button {
  background-color: var(--button-color);
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
}
button:hover {
  transform: scale(1.05);
  color: var(--text-highlight);
  text-shadow: var(--button-text-highlight);
  box-shadow: var(--box-shadow-color);
}

/* Card; */
.card {
  background-color: var(--second-bg-color);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 8px;
  color: var(--text-color);
  border: var(--border-color);
}

/* Cardshadows depending on result */
.card-shadow-blue{
  box-shadow: var(--box-shadow-blue);
}
.card-shadow-red{
  box-shadow: var(--box-shadow-red);
}
.card-shadow-green{
  box-shadow: var(--box-shadow-green);
}


/* Quiz - results list; */
.results{
  display: flex;
  justify-content: center;
}
.result-list{
  margin: 1rem;
  gap: 1rem;
}
li{
  list-style-type: none;
}
li p{
  color: var(--text-color);
}
.answer-list{
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}

/* Header; */
.header{
    background-image: var(--background-gradient);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-h1{
    color: var(--text-color);
}
img{
    height: 8rem;
}

/* Footer; */
.footer{
  background-image: var(--background-gradient);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}
.footer-ulist{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1rem;
}
.list{
  list-style-type: none;
}
a{
  margin: 0.5rem;
  color: var(--text-color);
  transition: 0.1s ease-in-out;
  border-bottom: 0.15rem solid transparent;
}
.list p{
  color: var(--text-color);
}
.list a:hover{
  border-bottom: 0.15rem solid var(--text-highlight);
  color: var(--text-highlight);
  transform: scale(1.05);
}